@font-face {
    font-family: prox-bold;
    src: url(../fonts/prox-bold.otf) format("opentype");
}

@font-face {
    font-family: prox-thin;
    src: url(../fonts/prox-thin.otf) format("opentype");
}

@font-face {
    font-family: prox-light;
    src: url(../fonts/prox-light.otf) format("opentype");
}