$color-red: #ed1c34;
$color-white: #ffffff;
$color-gray: #696969;
$color-black: #1a191a;
$color-dark-gray: #636363;
$color-light-gray: #d9d5d1;
$color-light-gray2: #f1f1f1;
$color-brown: #73625b;
$color-brown2: #ad8f83;
$color-tarrifs-table-border: #d8d3cf;